<!DOCTYPE html>

	<!-- those two br tags are weird; need to fix spacing with css (TODO)-->
{% extends "index.html" %}
{% block body %}
	<div class="span16">

		<br><br>
		<h1>About</h1>

		<hr>

		<h4>CardioQuest</h4>
		<p>Are you frustrated with your current cycling or running routine? Do you find it difficult to keep track of your progress? If so, you're in luck! <em>CardioQuest</em> lets amateur athletes track their workouts effortlessly.</p>

		<h5>Features</h5>
		<ul>
			<li>Personal page for each athlete</li>
			<li>Record workout sessions</li>
			<li>View past workout sessions</li>
			<li>And much more!</li>
		</ul>

		<hr>

		<h4>Developers</h4>
		<p> <em>CardioQuest</em> is developed by a team of students at the University of Manitoba:
		<ul>
			<li>Blake Beatty</li>
			<li>Sam Creed</li>
			<li>Justin Foidart</li>
			<li>Andrew Konkin</li>
			<li>Phil Latka</li>
			<li>Alex Salomon</li>
			<li>Ben Zeghers</li>
		</ul>
		</p>

		<hr>

		<h4>Credit</h4>
		<p>CardioQuest is built with the following technologies.  We sincerely thank the creators of these technologies.</p>
		<ul>
			<li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
			<li><a href="http://bootswatch.com/">Bootswatch</a></li>
			<li><a href="http://www.postgresql.org/">PostgreSQL</a></li>
			<li><a href="http://www.cherrypy.org/">CherryPy</a></li>
			<li><a href="http://www.datatables.net/">DataTables</a></li>
			<li><a href="http://qunitjs.com/">QUnit</a></li>
			<li><a href="http://jquery.com/">jQuery</a></li>
		</ul>

	</div> <!-- .span container-->
{% endblock body %}
