<!DOCTYPE html>
{% extends "index.html" %}
{% block script  %}
    <script src="../js/jquery.min.js"></script>
    <script type='text/javascript' src='../js/bootstrap.js'></script>  
    <script src="../js/bootstrapPagination.js"></script>
    <script src="../js/pages/achievements.js"></script>
{% endblock script %}

{% block body %}
    <div class="row">
        <h1>Badges</h1>
        <hr style="border-top:2px solid">
    </div>
    <div id="badges" class="row">
        <ul class="thumbnails">
        </ul>
    </div>

    <div class="modal hide fade" id="view_achievement_modal" name="enter_achievement_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="view_modal_title">Achievement:</h3>
        </div>
        <div class="modal-body">
            <div id="modal_body_div">             
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" id="closeButton_view">Close</a>
        </div>
    </div>


{% endblock body %}
