{% extends "index.html" %}

{% block script  %}
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="../css/datatables.css">	 
  <script src="../js/bootstrapPagination.js"></script>
  <script>
    $(document).ready(function() {
      var athleteTable = $('#athleteTable').dataTable( {
        "bProcessing": true,
        "bServerSide": true,
        "sPaginationType": "bootstrap",
        "sAjaxSource": "update_datatable",
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "aoColumns": [
          { "mData": "duration", "sWidth": '50%', "bSearchable": false },
          { "mData": "distance", "sWidth": '50%', "bSearchable": false }
        ]
      } );

      $("form").submit(function() {
        $.post("create", $(this).serialize(), function() {
          athleteTable.fnDraw();
        } );
        return false;
      } );
    } );
  </script>
{% endblock script %}

{% block body %}
  Enter excercise
  <form>
    Duration <input type="number" name="duration" style="width: 4em;" min="0" required />
    Distance <input type="number" name="distance" style="width: 4em;" min="0" required />
    <input type="submit" value="Create" />
  </form>
  <!-- TABLE ======================================= -->
    <table class="table table-bordered table-striped table-hover" id="athleteTable">
    <thead>
      <tr>
        <th>Duration</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <!-- end table ======================================= -->
{% endblock body %}
