{% extends "index.html" %}

{% block script  %}
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="../css/datatables.css">
  <script src="../js/bootstrapPagination.js"></script>
  <script>
    $(document).ready(function() {
      $('#athleteTable').dataTable( {
        "bProcessing": true,
        "bServerSide": true,
        "sPaginationType": "bootstrap",
        "sAjaxSource": "update_datatable",
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "aoColumns": [
          { "mData": "first_name" },
          { "mData": "last_name" },
          {	"mData": "email" },
          { "mData": "about_me" }
          //~ { "mData": "about_me" }
        ]
      } );
    } );
  </script>
{% endblock script %}

{% block body %}
  <!-- Temporary Links to Access new/edit/view Pages -->
  <a href="new">New Athlete</a>
  <a href="edit">Edit Athlete</a>
  <a href="view">View Athlete</a>
  <!-- TABLE ======================================= -->
    <table class="table table-bordered table-striped table-hover" id="athleteTable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>About Me</th>
<!--
        <th>About Me</th>
-->
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <!-- end table ======================================= -->
{% endblock body %}
