{% extends "index.html" %}

{% block script  %}
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#athleteTable').dataTable( {
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "json"
        } );
      } );
  </script>
{% endblock script %}

{% block body %}
  <!-- TABLE ======================================= -->
    <table class="table table-bordered table-striped table-hover" id="athleteTable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <!-- end table ======================================= -->
{% endblock body %}
