{% extends "index.html" %}

{% block script %}
    <script type='text/javascript' src='../js/jquery.min.js'></script>
    <script type='text/javascript' src='../js/bootstrap.js'></script>
    <script type='text/javascript' src='../js/fullcalendar.min.js'></script>
    <script type='text/javascript' src='../js/pages/calendar_view.js'></script>
    <link rel='stylesheet' type='text/css' href='../css/fullcalendar.css' />
    <link rel='stylesheet' type='text/css' href='../css/fullcalendar.print.css' media='print' />
{% endblock script %}

{% block body %}
    <!-- Calendar -->
    <div id='calendar'></div>

    <!-- Enter New Activity Modal Dialog -->
    <div class="modal hide fade" id="enter_activity_modal" name="enter_activity_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="modal_title">Enter an Activity:</h3>
        </div>
        <form id="newAcitivityForm">
            <div class="modal-body">
                <fieldset>
                    <label for="name">Type:</label>
                    <input type="text" name="type" id="type" class="text ui-widget-content ui-corner-all" />
                    <label for="duration">Duration:</label>
                    <input type="number" name="duration" id="duration" min="0" value="0" required />
                    <label for="distance">Distance:</label>
                    <input type="number" name="distance" id="distance" min="0" value="0" required />
                    <label for="max_speed">Max Speed:</label>
                    <input type="number" name="max_speed" id="max_speed" min="0" value="0" required />
                    <input type="hidden" id="date" name="date" value="123" />
                </fieldset>
            </div>
            <div class="modal-footer">
                <a class="btn" id="closeButton">Close</a>
                <input class="btn btn-primary" id="saveButton" type="submit" value="Add Activity" />
            </div>
        </form>
    </div>
    
    <!-- View activity modal dialog -->
    <div class="modal hide fade" id="view_activity_modal" name="enter_activity_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="view_modal_title">View an Activity:</h3>
        </div>
        <form id="newAcitivityForm">
            <div class="modal-body">
                <fieldset>
                    <label for="duration_view">Duration:</label>
                    <p name="duration_view" id="duration_view"></p>
                    <label for="distance_view">Distance:</label>
                    <p name="distance_view" id="distance_view"></p>
                    <label for="max_speed_view">Max Speed:</label>
                    <p name="max_speed_view" id="max_speed_view"></p>
                </fieldset>
            </div>
            <div class="modal-footer">
                <a class="btn" id="closeButton_view">Close</a>
            </div>
        </form>
    </div>
{% endblock body %}
