{% extends "index.html" %}

{% block script %}
    <link rel='stylesheet' type='text/css' href='../css/fullcalendar.css' />
    <link rel='stylesheet' type='text/css' href='../css/fullcalendar.print.css' media='print' />
    <script type='text/javascript' src='../js/jquery.min.js'></script>
    <script type='text/javascript' src='../js/jquery-ui-1.8.23.custom.min.js'></script>
    <script type='text/javascript' src='../js/fullcalendar.min.js'></script>

    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
        	        left: 'prev',
			        center: 'title',
				    right: 'today, next'
		        },
                weekMode: 'variable',
                editable: false,
                events: function(start, end, callback) {
                    $.ajax({
                        url:        'get',
                        dataType:   'json',
                        success: function(doc) {
                            var events = [];
                            $(doc.activities).each(function() {
                                events.push({
                                    title:  $(this).attr('type') + "\n" + 
                                            $(this).attr('distance') + " km : " + 
                                            $(this).attr('duration') + " mins",
                                    start:  $(this).attr('date'),
                                    end:    $(this).attr('date')
                                });
                            });
                            callback(events);
                        }
                    });
                }
            })
        });
    </script>

{% endblock script %}

{% block body %}
    <div id='calendar'></div>
{% endblock body %}
