{% extends "index.html" %}

{% block script  %}
  <link href="../css/datepicker.css" rel="stylesheet">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap-datepicker.js"></script>
  <script>
    $(document).ready(function() {
      $('#dateInput').datepicker();
    } );
  </script>
{% endblock script %}

{% block body %}
  <form class="form-horizontal well" action="createEvent" method="post">
    <fieldset>
      <legend>Event Details</legend>
      <div class="control-group">
        <label class="control-label" for="dateInput">Date:&nbsp;</label>
        <div class="input-append date" id="dateInput" data-date="26-02-2013" data-date-format="dd-mm-yyyy">
          <input class="span2" name="eventDate" size="16" type="text" value="26-02-2013">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="cityInput">City:&nbsp;</label>
        <input type="text"  name="eventLocation" class="input-xlarge" id="cityInput">
      </div>
      <div class="control-group">
        <label class="control-label" for="distanceInput">Distance(KM):&nbsp;</label>
        <input type="text"  name="eventDistance" class="input-xlarge" id="distanceInput">
      </div>
      <div class="control-group">
        <label class="control-label" for="eventdescpription">Event Description:&nbsp;</label>
        <textarea class="input-xlarge"  name="eventDescription" id="eventdescpription" rows="10"></textarea>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Post Event</button>
        <button type="reset" class="btn" onclick="window.location.href='/events'">Cancel</button>
      </div>
    </fieldset>
  </form>
{% endblock body %}
