{% extends "index.html" %}

{% block script  %}
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="../css/datatables.css">	 
  <script src="../js/bootstrapPagination.js"></script>
  <script>
    $(document).ready(function() {
      var athleteTable = $('#athleteTable').dataTable( {
        "bProcessing": true,
        "bServerSide": true,
        //"bLengthChange": false,
        "sPaginationType": "bootstrap",
        "sAjaxSource": "update_datatable",
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "aoColumns": [
          { "mData": "duration" },
          { "mData": "distance" }
        ]
      } );

      $("form").submit(function() {
        $.post("create", $(this).serialize(), function() {
          athleteTable.fnDraw();
        } );
        return false;
      } );
    } );
  </script>
{% endblock script %}

{% block body %}
  Enter new goal:

  <!-- TODO: populate with all activity types from db with script-->
  <select name="activity">
    <option value="run">Run</option>
    <option value="bike">Bike</option>
    <option value="swim">Swim</option>
  </select>

  <!-- TODO: populate with all operators from db with script -->
  <select name="operator">
  	<option value="total">Total</option>
    <option value="max">Max</option>
    <option value="min">Min</option>
    <option value="average">Average</option>
  </select>

  <input type="number" name="quantity" style="width: 4em;" min="0" required />

  <!-- TODO: populate with all metrics from db with script -->
  <select name="metric">
  	<option value="kmph">Km/hr</option>
    <option value="km">Km</option>
  </select>
  
  <br>

  <!-- TODO: get current dates and put them in start and end data-date defaults -->
  <div class="control-group">
    <div class="input-append date" id="dateInput" data-date="26-02-2013" data-date-format="dd-mm-yyyy">

      <label class="control-label" for="dateInput">Start:&nbsp;</label>
      <input class="span2" name="startDate" size="16" type="text" value="26-02-2013">
      <span class="add-on"><i class="icon-th"></i></span>

      <label class="control-label" for="dateInput">End:&nbsp;</label>
      <input class="span2" name="endDate" size="16" type="text" value="26-02-2013">
      <span class="add-on"><i class="icon-th"></i></span>

      <input type="submit" value="Create" />
      
    </div>
  </div>


  <!-- TABLE ======================================= -->
    <table class="table table-bordered table-striped table-hover" id="athleteTable">
    <thead>
      <tr>
        <th>Duration</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <!-- end table ======================================= -->
{% endblock body %}
