{% extends "index.html" %}



{% block script  %}
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="../css/datatables.css">	 
  <script src="../js/bootstrapPagination.js"></script>
  <script>
    $(document).ready(function() {
      var athleteTable = $('#athleteTable').dataTable( {
        "bProcessing": true,
        "bServerSide": true,
        //"bLengthChange": false,
        "sPaginationType": "bootstrap",
        "sAjaxSource": "update_datatable",
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "aoColumns": [
          { "mData": "duration" },
          { "mData": "distance" }
        ]
      } );

      $("form").submit(function() {
        $.post("create", $(this).serialize(), function() {
          athleteTable.fnDraw();
        } );
        return false;
      } );
    } );
  </script>
{% endblock script %}

{% block body %}
  {% block form %}
    <form class="form-horizontal">

      <!-- TODO: fill with activity types from db in script-->
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <select id="activity">
            <option value="run">Run</option>
            <option value="bike">Bike</option>
            <option value="swim">Swim</option>
          </select>
        </div>
      </div>

      <!-- TODO: fill with operator types from db in script-->
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <select id="operator">
            <option value="total">Total</option>
            <option value="min">Min</option>
            <option value="max">Max</option>
            <option value="average">Average</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="quantity"></label>
        <div class="controls">
          <input type="text" id="quantity" placeholder="Quantity">
        </div>
      </div>

      <!-- TODO: fill with metric types from db in script-->
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <select id="metric">
            <option value="km">Km</option>
            <option value="kmph">Kmph</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Create</button>
        </div>
      </div>
    </form>
  {% endblock form %}
{% endblock body %}
