{% extends "index.html" %}

{% block script  %}
  <link rel="stylesheet" href="../css/datepicker.css">
  <link rel="stylesheet" href="../css/datatables.css">   
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <script src="../js/bootstrap-datepicker.js"></script>
  <script type='text/javascript' src='../js/bootstrap.js'></script>
  <script src="../js/bootstrapPagination.js"></script>
  <script src="../js/pages/goals.js"></script>

{% endblock script %}

{% block body %}

    <div class="modal hide fade" id="enter_goal_modal" name="enter_goal_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="modal_title">Create Goal:</h3>
        </div>

      <form action="createGoal">

        <div class="modal-body">
            <label for="activity">Activity:</label>
            <select class="span2" name="activity" id="activity">
                <option value="Run">Run</option>
                <option value="Bike">Bike</option>
                <option value="Swim">Swim</option>
            </select>

            <label for="Operator">Operator:</label>
            <select class="span2" name="operator" id="operator">
                <option value="Total">Total</option>
                <option value="Min">Min</option>
                <option value="Max">Max</option>
                <option value="Average">Average</option>
            </select>

            <label for="quantity">Quantity:</label>
            <input class="span2" type="text" name="quantity" id="quantity" placeholder="Quantity" required ><br/>

            <label for="metric">Metric:</label>
            <select class="span2" name="metric" id="metric">
                <option value="distance">Distance</option>
                <option value="max_speed">Max Speed</option>
            </select>
       
            <label for="start_date">Start Date:</label>
            <div class="input-append date" id="start_date" data-date="26-02-2013" data-date-format="dd-mm-yyyy">
                <input class="span2" name="start_date" size="16" type="text" value="26-02-2013">
                <span class="add-on"><i class="icon-th"></i></span>
            </div>

            <label for="end_date">End Date:</label>
            <div class="input-append date" id="end_date" data-date="27-02-2013" data-date-format="dd-mm-yyyy">
                <input class="span2" name="end_date" size="16" type="text" value="27-02-2013">
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
        </div>

        <div class="modal-footer">
        <a class="btn" id="closeButton">Close</a>
        <input class="btn btn-primary" id="saveButton" type="submit" value="Create" />
        </div>

    </form>
</div>

  <!-- CURRENT GOALS TABLE -->
  <div align="right">
      <button type="button" id="enterButton" class="btn">Create New Goal</button><br/><br/>
  </div>

  <table class="table table-bordered table-striped table-hover" id="goalsTable">
    <thead>
    <tr>
      <th>Activity</th>
      <th>Operator</th>
      <th>Quantity</th>
      <th>Metric</th>
      <th>Start</th>
      <th>End</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  </table>
  <!-- END GOALS TABLE -->

{% endblock body %}
