{% extends "index.html" %}

{% block script  %}
  <script src="../js/jquery.min.js"></script>
  <script type='text/javascript' src='../js/bootstrap.js'></script>
  <script src="../js/bootstrap-datepicker.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <script src="../js/bootstrapPagination.js"></script>
  <script src="../js/highcharts.js"></script>
  <script src="../js/pages/health.js"></script>
  <link href="../css/datepicker.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/datatables.css">
  <script>
      $(document).ready(function() {
          health.healthTable();
          health.controls();
      });
  </script>
{% endblock script %}

{% block body %}
    <!-- Tab header -->
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#graph_tab" data-toggle="tab">Graph</a>
      </li>
      <li><a href="#table_tab" data-toggle="tab">Table</a></li>
    </ul>
    
    <!-- New health record button -->
    <div align="right">
        <button type="button" id="enterButton" class="btn">Log a Health Record</button>
    </div>

    <!-- tab content -->
    <div class="tab-content">
        <div class="tab-pane active" id="graph_tab">
            <!-- graph pane and filters -->
            <div id="graphContainer" style="width:100%; height:400px;"></div>
            <div>            
                <h4>Filter Graph Data By Date Range:</h4>
                <form class="navbar-form pull-left form-inline" align="center">
                    <label for="graph_from_date_div">Start Date:</label>                    
                    <div class="input-append date" id="graph_from_date_div" data-date="01-01-2013" data-date-format="dd-mm-yyyy">
                        <input class="span2" id="graph_from_date" name="graph_from_date_div" size="16" type="text" value='01-01-2013'>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <label for="graph_from_date_div">  End Date:</label>    
                    <div class="input-append date" id="graph_to_date_div" data-date="31-12-2013" data-date-format="dd-mm-yyyy">
                        <input class="span2" id="graph_to_date" name="graph_to_date_div" size="16" type="text" value="31-12-2013">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <a class="btn btn-primary" id="updateGraphBtn">Update Graph</a>
                </form>
            </div>
        </div>
        <div class="tab-pane" id="table_tab">
            <!-- TABLE ======================================= -->
            <table class="table table-bordered table-striped table-hover" id="healthTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Weight</th>
                        <th class="hidden-phone">Resting HR</th>
                        <th class="hidden-phone">Comments</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Form -->
    <div class="modal hide fade" id="enter_health_modal" name="enter_health_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="modal_title">Enter a Health Record:</h3>
        </div>
        <form>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="date_wrapper_form">Date:&nbsp;</label>
                    <div class="input-append date" id="date_wrapper_form" data-date="26-02-2013" data-date-format="dd-mm-yyyy">
                      <input class="span2" id="health_date" name="health_date" size="16" type="text">
                      <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
              <div class="control-group">
                  <label class="control-label" for="weight">Weight (pounds):&nbsp;</label>
                  <input type="number" id="weight" name="weight" class="input-xlarge" id="weight">
              </div>
              <div class="control-group">
                  <label class="control-label" for="resting_heart_rate">Resting Heart Rate (beats/min):&nbsp;</label>
                  <input type="number" id="resting_heart_rate"  name="resting_heart_rate" class="input-xlarge" id="resting_heart_rate">
              </div>
              <div class="control-group">
                  <label class="control-label" for="comment">Comments:&nbsp;</label>
                  <textarea class="input-xlarge" id="comment" name="comment" id="comment" rows="7"></textarea>
              </div>
            </div>
            <div class="modal-footer">
                <a class="btn" id="closeButton">Close</a>
                <input class="btn btn-primary" id="saveButton" type="submit" value="Save Health Record" />
            </div>
            
        </form>
    </div>
{% endblock body %}
