<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
      <meta charset="utf-8">
      <title>CardioQuest</title>
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/bootstrap-responsive.min.css">
      <link rel="stylesheet" href="../css/font-awesome.min.css">
      <script src="../js/jquery.min.js"></script>
      <script src="../js/bootstrap.js"></script>

    {% endblock head %}
    {% block script %}

    {% endblock script %}
  <script>
    $(document).ready(function() {
    	$.get("/get_current_username", function(username) {
			if (username != "") {
				$("#logged-in-username").text("Logged in as " + username);
				$("#login-button").hide();
			}
			else {
				$("#logout-button").hide();
				$("#logged-in-username").hide();
        $("#profile").hide();
			}
        } );
    	

    	$("#logout-button").click(function() {
  			$.post("../login/do_logout", function() {
  				location.reload();
  			} );
        } );

    } );
  	</script>

  </head>

  <!-- Modified from Bootstrap United Sample Code-->
  <body>
    <div class="container">
      {% block navigation_bar %}
      <!-- NAVIGATION BAR ======================================= -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <a class="brand" href="../">CardioQuest</a>

            <div class="nav-collapse collapse">
              <ul class="nav" id="main-menu-left">
                <li><a id="profile" href="../profiles">Profile</a></li>
                <li><a href="../activities">Activities</a></li>
                <li><a href="../goals">Goals</a></li>
                <li><a href="../events">Events</a></li>
                <li><a href="../stats">Stats</a></li>
                <li><a href="../health">Health</a></li>
                <li><a href="../about">About</a></li>
              </ul>
              <ul class="nav pull-right">
              	<li><a id="logged-in-username"></a></li>
                <li><a id="login-button" href="../login">Login</a></li>
                <li><a id="logout-button" style="cursor: pointer">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- .navbar-->
    {% endblock navigation_bar %}
    {% block body %}
      <!-- HERO UNIT ======================================= -->
      <div class="hero-unit">
        <h1>CardioQuest</h1>
        <p>Your journey to a better life starts here.</p>
        <p><a class="btn btn-primary btn-large pull-right" href="../activities">Get Started &raquo;</a></p>
      </div><!-- .hero-unit -->
    {% endblock body %}

    {% block footer %}
    <!-- FOOTER ======================================= -->
      <div id="footer">
        <div class="container">
          <p class="muted credit" style="text-align:center"> &copy; COMP 4350 Group 5. &nbsp;&nbsp;&nbsp;&nbsp; <a href="../about">About</a> </p>
        </div>
      </div> <!-- .footer -->
    {% endblock footer %}
  </div><!-- .container -->
  </body>
</html>
