<!DOCTYPE html>
{% extends "index.html" %}
{% block script  %}
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="../css/datatables.css">
  <script src="../js/bootstrapPagination.js"></script>
  <script src="../js/jquery.jeditable.js"></script>
  <script>
    $(document).ready(function(){
      var athlete;
      $.getJSON('athlete', athlete, function(athlete){
        $("#profile_name").append(athlete['first_name'] + " " + athlete['last_name']);
        $("#dob").html(athlete['birth_date']);
        $("#address").html(athlete['address']);
        $("#email").html(athlete['email']);
        $("#about_me").html(athlete['about_me']);
      });
      
      $.getJSON('get_unlocked_achievements', function(unlocked_achievements){
        $.each(unlocked_achievements, function(index) {
          var achievement = unlocked_achievements[index].achievement;
          var unlocked_date = unlocked_achievements[index].unlocked_date;
          $("#" + achievement.title + " img#image").attr("src", achievement.image_url);
          $("#" + achievement.title + " p#date").text(unlocked_date);
          $("#" + achievement.title + " a").attr("href", "#");
        });
      });

      $('#dob').editable('update_dob', {
          indicator: 'Saving',
          tooltip:  'Click to change',
          onblur: 'cancel',
          submit: 'OK',
          cancel: 'Cancel',
          name: 'birth_date',
          //~ method: 'PUT',
          type: 'text',
          intercept: function (jsondata) {
            obj = jQuery.parseJSON(jsondata);
            // do something with obj.status and obj.other
            return(obj.birth_date);
          }        
        });
        
      $('#address').editable('update_address', {
          indicator: 'Saving',
          tooltip:  'Click to change',
          onblur: 'cancel',
          submit: 'OK',
          cancel: 'Cancel',
          name: 'address',
          //~ method: 'PUT',
          type: 'text',
          intercept: function (jsondata) {
            obj = jQuery.parseJSON(jsondata);
            // do something with obj.status and obj.other
            return(obj.address);
          }
        });
        
        
      $('#email').editable('update_email', {
          indicator: 'Saving',
          tooltip:  'Click to change',
          onblur: 'cancel',
          submit: 'OK',
          cancel: 'Cancel',
          name: 'email',
          //~ method: 'PUT',
          type: 'text',
          intercept: function (jsondata) {
            obj = jQuery.parseJSON(jsondata);
            // do something with obj.status and obj.other
            return(obj.email);
          }
        
        });
        
        
        $('#about_me').editable('update_about', {
          indicator: 'Saving',
          tooltip:  'Click to change',
          onblur: 'cancel',
          submit: 'OK',
          cancel: 'Cancel',
          name: 'about_msg',
          //~ method: 'PUT',
          type: 'text',
          intercept: function (jsondata) {
            obj = jQuery.parseJSON(jsondata);
            // do something with obj.status and obj.other
            return(obj.about_me);
          }
        });
    });
    //~ alert(window.location.href);
  </script>
{% endblock script %}

{% block body %}
  <div class="row-fluid">
    <div class="span3 thumbnails">
      <a href="#" class="thumbnail">
        <img src="../img/glyphicons_024_parents.png"  style="width:250px; height:200px" alt="">
      </a>
    </div>
    <div class="span9">
      <div>
        <h1 id="profile_name"></h1>
        <hr style="border-top:1px solid #dd4814">
      </div>
      <div class="span6">
        <div class="well" style="height:75px">
          <dl>
            <dt>About Me</dt>
            <dd id="about_me" class="edit"></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid span9">
    <div class="span3">
      
      <ul class="nav nav-list">
        <li class="nav-header">Personal Information</li>
        <li id="dob" class="edit" ></li>
        <li id="address" class="edit"></li>
        <li id="email" class="edit"></li>
      </ul>
    </div>

    </div>
  </div>
{% endblock body %}
