{% extends "index.html" %}

{% block script  %}
<script src="../js/jquery.min.js"></script>
<script src="../js/highcharts.js"></script>
<script>

$(document).ready(function() {

	$("button").click(function(){
		var today = new Date();
		var startDate = today;
		var graphData = new Array();
		var timeType = $("#select3").val();
		var measureType = $("#select2").val();
		var statType = $("#select1").val();
		var actType = $("#select0").val();

		//find the correct startDate based on selection
		if (timeType == "day"){
			startDate = today.getFullYear() + "-" + (today.getMonth()+1) + "-" + today.getDate();
		}

		else if (timeType == "week"){
			startDate = today.getFullYear() + "-" + (today.getMonth()+1) + "-" + (today.getDate()-today.getDay());
		}
		else if (timeType == "month"){
			startDate = today.getFullYear() + "-" + (today.getMonth()+1) + "-1";
		}
		else if (timeType == "year"){
			startDate = today.getFullYear() + "-1-1";
		}

		today = today.getFullYear() + "-" + (today.getMonth()+1) + "-" + today.getDate();

		alert("start: " + startDate + ", end: " + today);

		//ask server for the data and dump it into the graphdata variable
		if ($("#select1").val() == "Total"){

			$.getJSON("get_total",
			{
				column_name: measureType,
				activity_name: actType,
				athlete_id: 1,
				start_date: startDate,
        		end_date: today,
        		group_by: timeType
			},
				function(result)
				{
					alert(result);
    			});
		}

		else if ($("#select1").val() == "Average"){
			//$.get("statistics_engine.py",average(self,column_name,activity_name,athlete_id,startDate,today,group_by){
		}
		else if ($("#select1").val() == "Maximum"){
			//$.get("statistics_engine.py",maximum(self,column_name,activity_name,athlete_id,startDate,today,group_by)
		}
		else if ($("#select1").val() == "Minimum"){
			//$.get("statistics_engine.py",minimum(self,column_name,activity_name,athlete_id,startDate,today,group_by){
		}


	});//button click function
});//document ready

$(document).ready(function() {
    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'graphContainer',
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
});
</script>
{% endblock script %}

{% block body %}

<div id=search terms>
<label>
Activity:
<select size="1" id="select0" aria-controls="graphContainer">
	<option value ="Run" selected="selected">Run</option>
	<option value ="Walk" selected="selected">Walk</option>
	<option value ="Bike" selected="selected">Bike</option>
</select><br>
I would like to find my
<select size="1" id="select1" aria-controls="graphContainer">
	<option value ="Total" selected="selected">Total</option>
	<option value ="Average" selected="selected">Average</option>
	<option value ="Maximum" selected="selected">Maximum</option>
	<option value ="Minimum" selected="selected">Minimum</option>
</select>
 of my
<select size="1" id="select2" aria-controls="graphContainer">
	<option value ="distance" selected="selected">Distance</option>
	<option value ="duration" selected="selected">Duration</option>
	<option value ="max_speed" selected="selected">Top Speed</option>
</select>
 for the
<select size="1" id="select3" aria-controls="graphContainer">
	<option value ="day" selected="selected">Day</option>
	<option value ="week" selected="selected">Week</option>
	<option value ="month" selected="selected">Month</option>
	<option value ="year" selected="selected">Year</option>
</select>
</label>
<button type="button" class="btn btn-primary" data-loading-text="Updating...">Update</button>
</div>

<div id="graphContainer" style="width:100%; height:400px;"></div>

{% endblock body %}