<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/home/student/umlatkap/comp4350group5</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-03-08T20:29:09Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/home/student/umlatkap/comp4350group5/src/view/iOS/CardioQuest/ActivityViewController.h</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
